<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_UNIT_ID</key>
	<dict>
		<key>ADMOB_UNIT_ID_STORE_DETAIL</key>
		<string>$(ADMOB_UNIT_ID_STORE_DETAIL)</string>
		<key>ADMOB_UNIT_ID_POLL_DETAIL</key>
		<string>$(ADMOB_UNIT_ID_POLL_DETAIL)</string>
		<key>ADMOB_UNIT_ID_CATEGORY_FILTER</key>
		<string>$(ADMOB_UNIT_ID_CATEGORY_FILTER)</string>
		<key>ADMOB_UNIT_ID_COMMUNITY</key>
		<string>$(ADMOB_UNIT_ID_COMMUNITY)</string>
		<key>ADMOB_UNIT_ID_HOME_LIST</key>
		<string>$(ADMOB_UNIT_ID_HOME_LIST)</string>
		<key>ADMOB_UNIT_ID_HOME_CARD</key>
		<string>$(ADMOB_UNIT_ID_HOME_CARD)</string>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>사용자의 위치는 현재 사용자의 위치를 바탕으로 가까운 붕어빵 가게를 찾는데 사용됩니다.</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>DEEP_LINK_SCHEME</key>
	<string>$(DEEP_LINK_SCHEME)</string>
	<key>ANDROID_PACKAGE_NAME</key>
	<string>$(ANDROID_PACKAGE_NAME)</string>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>APPSTORE_ID</key>
	<string>$(APPSTORE_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko_KR</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaoa0ce3cecac62e2dedf50751d5abc5740</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>naverlogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>naverlogin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1014726034007-cr8jiho91de2ctkvqttro93oem0gddqf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao95f91f9656806e132796f0071ab99aaa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dynamiclink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(DEEP_LINK_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DYNAMICLINK_HOST</key>
	<string>$(DYNAMICLINK_HOST)</string>
	<key>DYNAMIC_LINK_URL</key>
	<string>$(DYNAMIC_LINK_URL)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1527951560812478~1242588198</string>
	<key>KAKAO_APP_KEY</key>
	<string>$(KAKAO_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaoa0ce3cecac62e2dedf50751d5abc5740</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>storylink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NMFClientId</key>
	<string>hqqqtcv85g</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>카메라는 길거리 음식점 사진을 찍기위해 사용됩니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>사용자의 위치는 현재 사용자의 위치를 바탕으로 가까운 붕어빵 가게를 찾는데 사용됩니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자의 위치는 현재 사용자의 위치를 바탕으로 가까운 붕어빵 가게를 찾는데 사용됩니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>길거리 음식점 사진을 불러오기 위해 앨범이 사용됩니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>길거리 음식점 사진을 불러오기 위해 앨범이 사용됩니다.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>사용자의 관심사에 기반해 광고를 보여주기 위해 사용됩니다.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AppleSDGothicNeoEB00.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>URL_MARKETING</key>
	<string>$(URL_MARKETING)</string>
	<key>URL_POLICY</key>
	<string>$(URL_POLICY)</string>
	<key>URL_PRIVACY</key>
	<string>$(URL_PRIVACY)</string>
</dict>
</plist>
