<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174359764387-0cct7ueiel2enk7epi67hqghpergsrjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174359764387-0cct7ueiel2enk7epi67hqghpergsrjg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174359764387-05bd0vegctod79boru66gsdbfcjicg0o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoebWb-l1EqHYXNy15Gq3gSGvO_86_CrY</string>
	<key>GCM_SENDER_ID</key>
	<string>174359764387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macgongmon.-dollar-in-my-pocket</string>
	<key>PROJECT_ID</key>
	<string>dollar-in-my-pocket</string>
	<key>STORAGE_BUCKET</key>
	<string>dollar-in-my-pocket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174359764387:ios:e1ab07542e9cfef3e60e16</string>
	<key>DATABASE_URL</key>
	<string>https://dollar-in-my-pocket.firebaseio.com</string>
</dict>
</plist>